# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
venv/

# Build / packaging
build/
dist/
*.egg-info/

# Coverage
.coverage
coverage.xml
htmlcov/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
